* {
  font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif; ;  
}

body {

    background-color: black;
}



#kocka
h1 {
    color: aliceblue;
    text-align:center;
}

li {
    max-width: 280px;
    color: aliceblue;
    text-align: center;
   
}

p {
    color:aliceblue;
    text-align: left;
}


#palya {
   
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 35px;
}

.negyzet {
    width: 100px;
    height: 100px;
    background-color:white;
}

.kocka {
    border: solid white;
    border-width: medium;
    
    color: purple;
    border-radius: 10px;
}